.Cabeça2 {
  background-color: black;
  color: rgb(251, 255, 0);
  display: flex;
  justify-content: space-around;
}
.Logo2 {
  width: 10%;
}
.article-image {
  text-align: center;
}
.pedestre {
  text-align: center;
}
.Color {
  background-color: #ffefd5;
}
