.Cabeça2{background-color: #000000;color: rgb(251, 255, 0);display:flex; justify-content: space-around;}
.Logo2{width: 10%;}
.Texto{text-align: center;}
.aaaaaaaa{display: flex;}
.Luiz{width: 40%;}
.Nelly{width: 40%;}
.Thor{width: 40%;}
.Rafael{width: 40%;}
.Color2{background-color: #ffefd5;}